/* ------------------------------------------------------------------- controls */
* {padding: 0;margin: 0;/*border: 1px solid red;*/}
a {color: #fff;}
a:hover {text-decoration: none;color: #fff;}
.po-re {position: relative;}
.f-b {font-weight: bold;}/* fonts */
.fl-r {float: right;} /* floating */
.fl-l {float: left;}
.w-70 {width: 70px;}/* width */
.w-95 {width: 95px;}
.w-120 {width: 120px;}
.w-220 {width: 220px;}
.b1s-000 {border: 1px solid #000;}/* borders */
.b-r-1-ccc {border-right: 1px solid #ccc;}
.mtb-5 {margin: 5px 0;}/* margins */
.mt-20 {margin-top: 20px;}
.v-mdl {vertical-align: middle;}
.cent {text-align: center;}
.c-fff {color: #fff;}/* font colors */
.c-000 {color: #000;}
.c-f00 {color: #f00;}
.c-090 {color: #090;}
.c-898 {color: #898989;}
.c-b7b {color: #b7b300;}
.bg-000 {background: #000;}/* backgrounds */
.bg-333 {background: #333;}
.nopadding {padding: 0 !important;margin: 0 !important;}/* padding */
.ptb-5 {padding: 5px 0;}
.bb-no {border: none;background: none;}
.hh1 {width: 20px;border: none;text-align: center;}
.hh2 {width: 100px;border: none;text-align: center;}
/* ------------------------------------------------------------------- end controls */
/* ------------------------------------------------------------------- header */
.head-part {display: inline-block;vertical-align: middle;margin-top: 5px;}
.sqr {display: inline-block;vertical-align: middle;border: 1px solid #fff;color: #fff;margin: 0 0 5px 0;padding:0 5px;}
.m1 {left: -15px;padding: 5px 10px;margin:0;width: 260px;background-color: #000;color: #fff;border-radius: 0px;box-shadow: 0px 0px 0px;}
.m1 a {display:block;}
#money-link:active {color: #fff !important;background: #000;}
#money-link:focus {color: #fff !important;}
.m2, .m3 {position: absolute;top: 41px;left: 0;display: none;z-index: 1000;width: 100% !important;padding: 5px 10px;margin: 0px;font-size: 14px;text-align: left;background-color: #000;color: #fff;}
#m-date {display: block;} /* tabs controls */
.m-date {display: block; cursor:pointer;} /* tabs controls */
#tc1 a,#tc2 a,#tc3 a {color: #000;display: block;cursor: pointer;padding: 10px;}
.tc {background: #000;color: #fff;}
.tc a {color: #fff !important;}
.top1 {background: #f3f3f3;text-align: center;padding:0 0 0 10px;}
#mdate {display: none;}
.top2 {background: #f3f3f3;padding: 10px;border-top: 1px solid #fff;}
.top2 input,.top2 select {border: none;text-align: right;font-weight: bold;height: 36px;border:1px solid #000;font-size: .8em;padding-right: 10px;}
.top2 .small-input {width: 60px;text-align: center;}
.top2 .calendar {margin-right: -30px;}
.top2 .srch-btn {width: 80%;border: 3px solid #fff;background: #008cff;color: #fff;font-weight: bold;height: 37px;text-align: center;}
/* ------------------------------------------------------------------- end header */
/* ------------------------------------------------------------------- rooms rows */
.data-row {padding: 10px 0;border-bottom: 1px solid #ccc;}
.one-room {border-top: 3px solid #000;}
.one-room:first-child {border-top:none;}
.data-row:hover {background: #f7f7f7;}
.data-row:last-child {border-bottom: none;}
.ftr {padding: 3px 0;font-size: 10px;}
#reserve {text-align: center;color: #fff;background: #008cff;margin: 10px auto;width: 160px;font-weight: bold;cursor: pointer;}
.best-price {text-align: center;border:1px solid #00f;width: 160px;margin: auto;}
.price {font-weight: bold;font-size: 20px;}
.all-green {border: 1px solid #078924;color: #078924;width: 160px;margin:20px auto;padding: 10px 0;}
.room-dtl {margin-top: 30px;}
.dtl {display: inline-block;vertical-align: top;width: 200px;font-size: 12px;}
.dtl-show {cursor: pointer;padding-bottom: 5px;}
.dtl1, .dtl2 {display: none;border-bottom: 1px solid #000;padding: 10px 0;}
.sl-menu {width: 120px;border: 1px solid #00f;}
.sl-person {border: none;color: #fff;}
.blu-bg {background: #008cff url('../img/bg-arrow.png') no-repeat bottom center;}
.room-title {margin-top: 5px;padding: 3px 10px;}
#free-cancellation {color: #090;}
/*
.tooltip.top .tooltip-inner {background-color:#fff;color: #000;}
.tooltip.top .tooltip-arrow {border-top-color: #fff;}
.tooltip.in {opacity: 1;filter: alpha(opacity=100);}
.tooltip-inner {max-width: 350px;width: 350px;}
.tooltip-inner {text-align: left;border-radius: 0;
    background-color: rgb(20,20,20,); /* Needed for IEs */
    -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.4);
    zoom: 1;
    }
    */
.main-row {font-size: 12px;border-bottom: 4px solid #000;}
/* slider */
.item .thumb {width: 25%;cursor: pointer;float: left;}
.item .thumb img, .item img {width: 100%;	}
#slider-content,#slider-content2 {font-size: 14px;position: relative;}
.magni {position: relative;}
.magnify {display: none;position: absolute;right: 5px;bottom: 5px;z-index: 9999;}
#red-offer {position: absolute;top: 36px;background: #f00;color: #fff;padding: 5px;z-index: 1001;margin-left: -20px;text-transform: uppercase;}
#green-offer {position: absolute;top: 36px;background: #078924;color: #fff;padding: 5px;z-index: 1001;margin-left: -20px;text-transform: uppercase;}
/* end slider */
/* ------------------------------------------------------------------- end rooms rows */
/* ---------------------------------------------------- booking form */
.mail-msg {font-size: 10px;color: #f00;border-bottom: 1px solid #ccc;border-top: 1px solid #ccc;width: 220px;padding: 10px 0;margin: 5px 0;font-weight: bold;}
.deposit {border-bottom: 3px solid #000;border-top: 3px solid #000;padding:15px 20px;}
.dtls {display: inline-block;vertical-align: middle;}
#dtls-sh1,#dtls-sh1in,#dtls-sh2,#dtls-sh3,#dtls-h1,#dtls-h1in,#dtls-h2,#dtls-h3 {color: #b7b300;cursor: pointer;}
#dtls-h1,#dtls-h1in,#dtls-h2,#dtls-h3 {cursor: pointer;display: none;}
#dtl-dtl1,#dtl-dtl1in,#dtl-dtl2,#dtl-dtl3 {display: none;}
.accordion {position: relative;width: 800px;font-size: 12px;}
.stay {display: inline-block;vertical-align: top;width: 140px;height: 200px;background: #000;overflow: hidden;margin-left: -3px;color:#fff;}
.stay-show, .stay-hide {display: inline-block;vertical-align: top;}
.stay-show {width: 140px;}
.expanded {position: absolute;left: 0;z-index: 1000;width: 700px;}
.stay-txt {}
.stay-hide {width: 556px;}
.details {padding: 5px;border-bottom: 2px solid #e2e2dd;margin: 5px 0;font-weight: bold;font-size: 17px;}
.welcome {border: 1px solid #000;background: #ededec;padding: 20px 10px;margin: 10px;}
.sbt-btn {text-align: center;color: #fff;background: #026dc5;margin: 5px auto;width: 170px;font-weight: bold;padding: 5px 0;}
.agree a {color: #00f;text-decoration: underline;}
.last-row {border-bottom: 3px solid #000;}
/* ---------------------------------------------------- end booking form */
/* ------------------------------------------------------- fixed-parts */
#fixed-part {width: 220px;}/* part */
.fixed-part {position: fixed;top: 0;}
#lc-a {background: #fdb300;color: #fff;padding: 5px 10px;font-size: 12px;font-weight: bold;}
#lc-a img, #lc-a span, #lc-b img, #lc-b span {display: inline-block;cursor: pointer;}
#lc-b {background: #333;color: #fff;padding: 5px 10px;font-size: 12px;font-weight: bold;}
#lc-a-in,#lc-b-in {background: #ededec;font-size: 12px;padding: 10px}
.cancellation {background: #ededec;font-size: 12px;padding: 10px;border-bottom: 3px solid #b3b3b3;}
.park-view {background: #ededec;border-top: 3px solid #b3b3b3;border-bottom: 3px solid #b3b3b3;padding-left: 15px;}
.avrg {background: #d6d6d5;padding: 10px;text-align: right;border-bottom: 3px solid #b3b3b3;}
.extra_info {background: #d6d6d5;padding: 10px;text-align: right;border-bottom: 3px solid #b3b3b3;}
#change-search {background: #333;color: #fff;padding: 5px 10px;font-size: 12px;font-weight: bold;}
.scured-black {text-align: right;padding: 10px;}/* end part */
#fixed-row {}/* row */
.fixed-row {position: fixed;top: 0;z-index: 9999;width: 85%;}/* end row */
.fixed-rez {position: fixed;top: 30px;z-index: 999; margin-left:17px;}
/* ------------------------------------------------------- end fixed-parts */

.foo-btm, .foo-top {padding: 30px 0;}
#footer {font-size: .9em;}/**/
#footer a {text-decoration: underline;color: #898989;}/**/


#splash div.content {-moz-border-radius:5px;-webkit-border-radius:5px;background-color:rgba(255,255,255,0.7);border-radius:5px;bottom:0;margin:20px;padding:15px;position:absolute;z-index:10;top:0;right:0;}
#splash div.price {-moz-border-radius:5px;-webkit-border-radius:5px;background-color:rgba(255,255,255,0.7);border-radius:5px;bottom:0;margin:20px;padding:15px;position:absolute;z-index:10;bottom:0;left:0;}
#splash h2 {font-size:14px;margin-bottom:5px;}
#splash strong {color:#000;font-size:11px;text-shadow:none;}
#splash p {color:#000;font-size:11px;line-height:14px;margin:0!important;text-shadow:none;}

.ui-datepicker-div { z-index: 25; }
/*.extra_form label { width: 100%; margin-top: 10px; margin-bottom: 0} */

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}

/* Lang Menu0 */

a:focus{color:inherit;text-decoration:inherit}

.sqr{margin:0}
.head-part{margin:0;}
.head-part>a{padding:9px 8px;display:block;height:40px;white-space:nowrap;color:#fff}
.head-part>a:hover{background-color:#fff;color:#2d2d2d}
.head-part>a:hover .sqr{border-color:#2d2d2d;color:#2d2d2d}

.open .drop-menu{display:initial}
.drop-menu-title{font-weight:bold;margin-bottom:10px;text-decoration:underline}
.drop-menu{display:none;position:absolute;top:40px;left:0;width:100%;padding:16px;font-family:Arial;font-size:12px;background-color:#fff;color:#000;z-index:10000;box-shadow:0 0 100px rgba(0,0,0,0.5);overflow:hidden}
.drop-menu ul{list-style:none;display:block;padding:0;margin:0;float:left}
.drop-menu li{display:block}

.common-langs{margin-bottom:15px}
#lang-menu a, #currency-menu a{color:#000;padding:3px 20px;display:block;}
#lang-menu a:hover, #currency-menu a:hover{background-color:#f8f8f8;text-decoration:none}
.btn-close-menu{position:absolute;display:block;top:20px;right:20px;width:16px;height:17px;background:#fff url(btn-close.png) no-repeat;cursor:pointer}
.lang-selected{background-color:#f8f8f8}

.drop-col-short{height:45px;width:20%}
.drop-col-long{height:300px;border-right:solid 1px #000;width:20%}
.drop-col-long:last-child{border:none}

.drop-menu .flag{margin-right:10px}
.head-part.open .dropdown-toggle{color:#2d2d2d;background-color:#fff}
.head-part.open .dropdown-toggle .sqr{border-color:#2d2d2d;color:#2d2d2d}

a.m1-link:hover{background-color:#333}
.m1-link img{margin-top:-4px}

#reservation-menu{right:0;left:auto;width:450px;color:#333;padding:0}
.reserv-manage{float:left;width:208px;margin-left:18px;padding:16px 0 0 16px}
.reserv-form{padding-top:11px;border-top:solid 1px #333;margin-top:7px}
.reserv-form input[type=text]{width:190px;padding:6px 6px;margin-bottom:14px;border:solid 1px #026dc5}
.reserv-form .btn-go{background-color:#026dc5;padding:7px 8px;border:solid 3px #ddd;color:#fff;width:68px;font-weight:bold}
.reserv-info{float:left;width:130px;padding-top:67px;margin-left:70px;line-height:1.7em}
.reserv-info span{padding-left:20px}

.email-confirm{text-align:center;padding:13px;box-shadow:0 0 3px rgba(0,0,0,0.5);margin-top:16px;background-color:#f7f7f7}

.currency-symb{font-weight:bold;margin-right:10px}

.drop-menu a{color:#026dc5;}
.drop-menu a:hover{text-decoration:underline}


/* ---------------------------------------------------- confirm page */
.bold{font-weight:bold}
.underline{text-decoration:underline}

.confirm-msg{float:left;background-color:#61900c;padding:6px 8px;border:solid 3px #ddd;color:#fff;min-width:697px;font-weight:bold;font-size:18px;height:43px}
.c-btn{background-color:#008cff;padding:6px 13px;border:solid 3px #ddd;color:#fff;font-weight:bold;font-size:13px;height:43px}
.c-btn:hover{background-color:#003580}
.confirm-actions{padding:25px 0;border-bottom:solid 1px #000}
.confirm-actions .a-text{font-weight:bold;line-height:1.8em;font-size:15px;padding-left:0}
.confirm-actions .a-text span{padding-left: 28px;background:transparent url(tick1.png) no-repeat left center}
.btn-edit{width:75px;height:40px}
.booking-refs{margin:4px 0;font-size:15px}
.btn-cancel-booking{background-color:#ec2141}
.btn-cancel-booking:hover{background-color:#88000D}


.booking-info-head{height:294px;background-color:#000;overflow:hidden;position:relative;text-align:center;font-size:15px}
.b-info-address{width:259px;height:100%;position:absolute;right:0;top:0;background-color:rgba(218,218,218,0.9);text-align:left;padding:10px 20px;line-height:1.7em}
.b-info-address .address{}
.booking-info-cont a{color:#333}
.booking-info-cont a:hover{text-decoration:underline}
.booking-info-head .map-sep{border-bottom:solid 1px #8e8e8e;margin:12px 0}

a.c-editor-ok{color:#5dab09;text-decoration:underline}
a.c-editor-cancel{color:#ff0000;text-decoration:underline}

.room-details{background:#f8f8f8 url(keys.png) no-repeat 30px 80px;border:solid 1px #ddd;padding:15px;margin-bottom:15px}
.room-details-item{padding:20px 15px;border-left:solid 1px #aaa;margin-left:98px}
.room-details-title{font-weight:bold;font-size:15px;margin-bottom:10px}
.room-details-desc{line-height:1.1em;margin-bottom:6px}

.enhance-cont{background:#f8f8f8 url(bag.png) no-repeat 30px 80px;border:solid 1px #ddd;padding:15px;margin-bottom:15px}
.enhance-item{padding:20px 15px;border-left:solid 1px #aaa;margin-left:98px;border-bottom:solid 1px #aaa}
.enhance-label{font-weight:bold;width:200px;display:inline-block}

a.add-room{padding:5px;border:dashed 2px #7fc5ff;text-align:center;color:#008cff;font-weight:bold;display:block}
a.add-room:hover{text-decoration:none;background-color:#eef7ff}
.va-middle{vertical-align:middle}
.stay-settings{background:#fff url(gear.png) no-repeat 30px 10px;padding:15px;margin-bottom:15px}
.stay-block{padding:5px;border-left:solid 1px #aaa;margin-left:98px;}

.stay-settings table{width:100%}
.stay-settings table tr{background-color:#ddd;border-bottom:solid 1px #fff}
.stay-settings table tr:hover{background-color:#e9e9e9;}
.stay-settings table td{padding:13px;border-right:solid 1px #fff;vertical-align:top}
.stay-settings table tr td:first-child{width:55px;text-align:center}

img.ui-datepicker-trigger{cursor:pointer}


/* ---------------------------------------------------- hotel details page */

.hsd-cont{width:260px;float:left;min-height:150px;padding:30px 14px 0 10px;position:relative;font-size:12px}
.hsd-shadow{position:absolute;top:0;left:260px;width:58px;height:539px;background:transparent url(hsd-shadow.png) no-repeat}
.hsd-logo{text-align:center;margin-bottom:40px}
.hsd-gallery{margin-bottom:15px;padding-left:9px;overflow:hidden}
.hsd-gallery img{float:left;width:74px;height:50px;border:solid 1px #fff;}
.hsd-title-o{height:61px;background:transparent url(hsd-title.png) no-repeat;padding:8px 0 0 14px;font-weight:bold}
.hsd-ta-logo{padding:20px;margin-bottom:30px;margin-top:10px}
.cdsROW.narrow{margin:0 auto}
.hsd-title-b{height:61px;background:transparent url(hsd-title-b.png) no-repeat;padding:8px 0 0 14px;font-weight:bold;color:#fff;display:inline-block;width:100%}
.hsd-map{height:150px;margin-top:-28px;background:#f0f0f0;margin-bottom:50px}

.hrd-cont{margin-left:260px;min-height:150px;font-size:12px;padding-right:35px;}
.hrd-desc{padding:50px 0 0 20px}
.hrd-cover{background-color:#000}
.hrd-cover img{height:244px}
.hrd-title{display:inline-block;margin-bottom:10px}
.hrd-title2{text-transform:uppercase;color:#003580;font-weight:bold;margin:15px 0}
.hrd-box{padding:16px;border:solid 1px #d9e1ec;background-color:#f7f7f7;overflow:hidden}
.hrd-rsn{margin-bottom:15px}
.hrd-rsn-text{display:block;margin-left:44px}

.fac-title{margin-bottom:5px;}
.fac ul{list-style-type:none}

.hrd-row{padding:10px 0;border-bottom:solid 1px #c0d1e7}
.hrd-row:last-child{border:none}

.hrd-label{display:inline-block;width:150px;font-weight:bold;vertical-align:top}
.hrd-val{display:inline-block;padding-left:10px;}

.hotel-info-menu {
  right: 0;
  left: auto;
  width: 450px;
  color: #333;
  padding: 0;
}

.hotel-drop-menu {
  display: none;
  position: absolute;
  top: 40px;
  width: 100%;
  padding: 16px;
  font-family: Arial;
  font-size: 12px;
  background-color: #fff;
  color: #000;
  z-index: 10000;
  box-shadow: 0 0 100px rgba(0,0,0,0.5);
  overflow: hidden;
}

#dLabel{background-image:url(mnu-down.png);padding-left:66px;background-position: 10px center;background-repeat:no-repeat}
.open #dLabel{background-image:url(mnu-up.png)}